.title-container{
  margin: 95px 0px 0px 0px;
}
.main-title {
color: $main_color;
text-align: center;
font-family: $main_font;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0px 0px 25px 0px;
}
.main-paragrafe {
color: $minir_color;
text-align: center;
font-family: $minire_font;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
span{
  text-decoration: underline;
}
}