/* color */
$main_color: #030211;
$minir_color: #7C7C7C;
$light_minir_color: #C1C1C1;
$light_color: #fff;


/* text */


// font family
$main_font: "Syne";
$minire_font: "Nunito" ;


// transition
$sec_transition: 0.5s;